# --- Node ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# Virtual envs
venv/
.env/
.env*/ 
.venv/

# --- Archivos generados ---
*.db
*.sqlite
*.sqlite3
*.csv

# --- Sistema operativo ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log

# --- Editor ---
.vscode/
.idea/

